@font-face {
	font-family: 'gordita-regular';
	src: url('/fonts/gordita-regular.otf') format('opentype');
	font-display: swap;
	font-weight: 400;
}

@font-face {
	font-family: 'gordita-bold';
	src: url('/fonts/gordita-bold.otf') format('opentype');
	font-display: swap;
	font-weight: 900;
}